* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    
    /* outline: 3px solid red; */
}

body {
    height: 100vh;
}
header {
    background-color: #1F2937;
    height: 33vh;
}

.hero.top {
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.logo {
    width: 200px;
    height: 40px;
}

ul {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero.main {
    display: flex;  
    justify-content: center;
    padding: 25px;
    gap: 50px;
}

.hero.text {
    width: 400px;
    padding-right: 170px;
    margin-right: 130px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: white;
}



.hero.subtext {
    color: lightgray;
}
    
button {
    height: 25px;
    width: 100px;
    background-color: #3882F6;
    border: 0;
    border-radius:8px 8px ;
    color: white;

}

.sectiontwo {
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;    
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.cards {
    display: flex;
    padding: 45px;    
    width: 60px;
    font-size: 10px;
    gap: 50px;
    justify-content: center;
    color: hsl(0, 0%, 35%);
    
}

.cardimage {

height: 100px;
width: 100px;
border-radius: 8px 8px;
border:2px solid  #3882F6;
}
    
