* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    
    /* outline: 3px solid red; */
}

body {
    height: 100vh;
}
header {
    background-color: #1F2937;
    height: 40vh;
}

.hero.top {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 30px;
    
}

.logo {
    width: 200px;
    height: 40px;
    padding-left: 70px;
}

ul {
    display: flex;
    gap: 25px;
    padding-right:68px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero.main {
    display: flex;  
    justify-content: center;
    padding: 30px;
    gap: 50px;
}

h1 {
    font-size: 48px;
    line-height: 40px;
}


.hero.text {
    width: 400px;
   
    display: flex;
    gap: 15px;
    flex-direction: column;
    color: white;
}



.hero.subtext {
    color: lightgray;
    font-size: 24 px;
    padding: 0px;
}
    
button {
    height: 25px;
    width: 100px;
    background-color: #3882F6;
    border: 0;
    border-radius:8px 8px ;
    color: white;

}

.sectiontwo {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;    
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.cards {
    display: flex;
    padding-top: 40px;   
    width: 800px;
    font-size: 10px;
    gap: 50px;
    justify-content: center;
    color: hsl(0, 0%, 35%);
    
}
h5 {
    width: 155px;
    font-size: 10px;
    padding-left: 8px;
}
.card.four.text {
    padding-left: 20px;
}

.cardimage {

height: 150px;
width: 150px;
border-radius: 8px 8px;
border:2px solid  #3882F6;
}

.sectionthree {
    height: 25vh;
    display: flex;
    flex-direction: column;
    background-color:#E5E7EB ;
    justify-content: center;
    align-items: center;
}    

.quote  {
    font-size: 26px;
    font-style: italic;
    color: #1F2937;
    width: 600px;
    font-weight: 300;
}

.author {
    align-self: center;
    padding-top: 10px;
    font-weight: bold;
    margin-left: 170px;
}